.main-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  transition: transform 0.3s linear;
  background-color: #f7f4ff;
  overflow-y: auto;
  min-height: 1px;
  padding-bottom: 40px;

  &--open {
    transform: translateX(-100%);
  }

  @include min($lg) {
    position: static;
    top: auto;
    right: auto;
    height: auto;
    width: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-bottom: 0;
    overflow: visible;

    &--open {
      transform: translateX(0);
    }
  }
}

.main-nav__list {
  @include lsr;
  padding: 50px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min($lg) {
    flex-direction: row;
    padding: 0;
  }
}

.main-nav__link {
  display: block;
  padding: 15px;
  font-size: 18px;
  color: $text-black;
  transition: color 0.3s linear;

  &:hover {
    color: $accent-hover;
  }

  @include min($lg) {
    padding-left: 23px;
    padding-right: 23px;
  }
}

.main-nav__item--dropdown {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 0;
    width: 6px;
    height: 6px;
    background-image: url("../img/dropdown.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    transition: transform 0.3s linear;
  }

  &-open::before {
    transform: rotate(180deg);
  }
}

.main-nav__item--dropdown-open > .main-nav__dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  @include min($lg) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 10px;
    background-color: #f7f4ff;
    margin-bottom: 0;
    padding: 10px 0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  }
}

.main-nav__dropdown-list {
  @include lsr;
  display: none;
}

.main-nav__dropdown-item {
  @include min($lg) {
    width: 100%;
  }
}

.main-nav__dropdown-link {
  display: block;
  padding: 10px;
  color: $accent;
  transition: color 0.3s linear, background-color 0.3s linear;

  &:hover {
    color: $accent-hover;
  }

  @include min($lg) {
    width: 100%;
    text-align: center;
    color: $text-black;

    &:hover {
      background-color: $accent;
      color: $white;
    }
  }
}

.main-nav__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  padding: 15px 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover {
    & .burger__line {
      background-color: $accent-hover;
    }
  }

  @include min($lg) {
    display: none;
  }
}

.main-nav__close-line {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: calc(100% - 20px);
  height: 4px;
  background-color: $accent;
  transition: background-color 0.3s;

  &:nth-child(1) {
    transform: rotate(45deg);
  }

  &:nth-child(2) {
    transform: rotate(-45deg);
  }
}

.main-nav__login-btn {
  background-color: $accent;
  width: 140px;
  height: 34px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2.55px;
  color: $white;
  text-transform: uppercase;
  transition: background-color 0.3s linear;
  margin: 0 auto;

  &:hover {
    background-color: $accent-hover;
  }

  @include min($lg) {
    margin-right: 8px;
    margin-left: 4px;
  }
}
